h1 {
	font-size: 48px;
	font-weight: 400;
	color: #777777;
	font-family: 'Pacifico', cursive;
	margin: 20px 0px 0px 0px;
	text-align: center;
}

.center {
	text-align: center;
	float: none;
	margin-left: auto;
	margin-right: auto;
}

.menu {
	border-right: 2px dotted lightgray;
	margin: 40px 0px 20px 10px;
}

.list {
	float: left;
}

.feedList {
	float: left;
}

.addButton {
	font-family: 'Roboto', cursive !important;
	display: block;
	font-size: 16pt;
	margin: 0px 0px 10px 0px;
}

.popup {
	font-family: 'Roboto', cursive !important;
}

.serverResponseLabelError {
	color: red;
}

.feedIconListEntry {
	min-height: 16 px;
	min-width: 16 px;
	
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.feedListEntry {
	font-size: 16px;
	font-family: 'Roboto', bold !important;
	text-align: left;
	color: #777777;
}

#feedTitle {
	font-size: 36px;
	font-family: 'Roboto', bold;
	text-align: center;
	color: #777777;
}

#rssContent {
	float: left;
	height: 900px;
	width: 80%;
	overflow: auto;
}

#rssEntry {
	margin: 20px 20px 10px 20px;
	float: left;
}

#rssTitle {
	font-size: 20px;
	font-family: 'Roboto', bold;
}

#rssDetails {
	font-size: 12px;
	font-family: 'Roboto', bold;
	color: gray;
}

#rssDescription {
	font-size: 14px;
	font-family: 'Roboto', bold;
}

#creds {
	font-size: 14px;
	text-align: center;
	font-family: 'Roboto', bold !important;
	color: lightgray;
	margin: 0px 0px 0px 0px;
}