body {
	font-family: 'Roboto' !important;
}

h1 {
	font-size: 48px;
	font-weight: 400;
	color: #777777;
	font-family: 'Pacifico', cursive;
	margin: 20px 0px 0px 0px;
	text-align: center;
}

.center {
	text-align: center;
	float: none;
	margin-left: auto;
	margin-right: auto;
}

.menu {
	border-right: 2px dotted lightgray;
	margin: 40px 0px 20px 10px;
	min-width: 260px;
}

.list {
	float: left;
}

.feedList {
	float: left;
}

.addButton {
	font-family: 'Roboto', cursive !important;
	display: block;
	font-size: 16pt;
	margin: 0px 0px 10px 0px;
}

.popup {
	font-family: 'Roboto', cursive !important;
}

.serverResponseLabelError {
	color: red;
}

.loadingLabel {
	color: #eee;
	font-family: 'Roboto', cursive !important;
	text-align: center;
	font-size: 18pt;
}

.feedIconListEntry {
	min-height: 16 px;
	min-width: 16 px;
	margin: 0px 0px 0px 0px !important;
	padding: 0px 0px 0px 0px !important;
}

.feedListEntry {
	font-size: 14px;
	font-family: 'Roboto' !important;
	text-align: left;
	color: #777777;
}

#feedTitle {
	font-size: 36px;
	font-family: 'Roboto', bold;
	text-align: center;
	color: #777777;
}

#rssContent {
	float: left;
	height: 900px;
	width: 80%;
	overflow: auto;
}

#rssEntry {
	margin: 20px 20px 10px 20px;
	float: none;
	width: 50%;
	display: block;
	text-align: center;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-bottom: 2px dotted #eee;
	margin-left: auto;
	margin-right: auto;
}

#rssTitle {
	font-size: 20px;
	font-family: 'Roboto', bold;
}

#rssDetails {
	font-size: 12px;
	font-family: 'Roboto', bold;
	color: gray;
}

#rssDescription {
	font-size: 14px;
	font-family: 'Roboto', bold;
	text-align: left;
}

#creds {
	font-size: 14px;
	text-align: center;
	font-family: 'Roboto', bold !important;
	color: lightgray;
	margin: 0px 0px 0px 0px;
}

.gwt-Tree {
	font-family: 'Roboto' !important;
  background: white;
}

.gwt-Tree .gwt-TreeItem-wrapper {
  margin: 0px 0px 0px 0px;  // Indentation
}

.gwt-Tree .gwt-TreeItem {
  padding: 0px;
  margin: 0px;
  white-space: nowrap;
  cursor: hand;
  cursor: pointer;
  font-family: 'Roboto' !important;
}

.gwt-Tree .gwt-TreeItem-hovering {
}

.gwt-Tree .gwt-TreeItem-selected {
	background: lightgray !important;
}